.details {
    display: flex;
    flex-direction: row;
}

.detailsImg {
    margin-left: 2rem;
}

#login {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.inputLogin{
    max-width: 15rem;
}